html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font-weight: normal;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
  background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background: rgb(215, 215, 215);
  font-family: 'Roboto', Arial, sans-serif;
  min-height: 740px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Serif', georgia, serif;
}

b, strong {
  font-weight: bold
}
i, em {
  font-style: italic
}
a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -moz-transition:    0.5s;
  -ms-transition:     0.5s;
  -o-transition:      0.5s;
  transition:         0.5s;
}
a:hover,
a:focus {
  background: rgba(255,255,255,1);
  text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

.fallback-message {
  background: #EEDC94;
  border-radius: 10px;
  border: 1px solid #E4C652;
  font-family: sans-serif;
  line-height: 1.3;
  margin: 20px auto;
  padding: 10px 10px 0;
  width: 780px;
}
.fallback-message p {
  margin-bottom: 10px;
}
.impress-supported .fallback-message {
  display: none;
}

.step {
  font-size: 48px;
  line-height: 1.5;
  margin: 20px auto;
  padding: 40px;
  position: relative;
  width: 900px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;
}

.impress-enabled .step {
  margin: 0;
  opacity: 0.3;
  -webkit-transition: opacity 1s;
  -moz-transition:    opacity 1s;
  -ms-transition:     opacity 1s;
  -o-transition:      opacity 1s;
  transition:         opacity 1s;
}

.impress-enabled .step.active {
  opacity: 1
}

.slide {
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, .3);
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
  color: rgb(102, 102, 102);
  display: block;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 30px;
  height: 700px;
  letter-spacing: -1px;
  line-height: 36px;
  padding: 40px 60px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  width: 900px;
}

.slide q {
  display: block;
  font-size: 50px;
  line-height: 72px;
  margin-top: 100px;
}

.slide q strong {
  white-space: nowrap;
}

.footnote {
  font-size: 32px;
}

#overview {
  display: none
}
.impress-on-overview .step {
  cursor: pointer;
  opacity: 1;
}

.hint {
  background: rgba(0,0,0,0.5);
  bottom: 200px;
  color: #EEE;
  display: none;
  font-size: 50px;
  left: 0;
  opacity: 0;
  padding: 20px;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 100;
  -webkit-transform: translateY(400px);
  -moz-transform:    translateY(400px);
  -ms-transform:     translateY(400px);
  -o-transform:      translateY(400px);
  transform:         translateY(400px);
  -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
  -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
  -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
  -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
  transition:         opacity 1s,         transform 0.5s 1s;
}
.impress-enabled .hint {
  display: block
}
.impress-on-bored .hint {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform:    translateY(0px);
  -ms-transform:     translateY(0px);
  -o-transform:      translateY(0px);
  transform:         translateY(0px);
  -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
  -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s 4.5s;
  -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s 4.5s;
  -o-transition:      opacity 1s 5s,      -o-transform 0.5s 4.5s;
  transition:         opacity 1s 5s,         transform 0.5s 4.5s;
}

.impress-enabled {
  pointer-events: none
}
.impress-enabled #impress {
  pointer-events: auto
}
